@page
@model MyAAASample.Pages.Account.AccessDeniedModel
@{
}
<h2 class="text-danger">Access Denied</h2>
<a href="/Account/Logout" class="btn-success">Logout</a>
<a href="/" class="btn-success">Homet</a>
